<footer>
    <div style="text-align: center; hight: 100%;">
        Copyright © 2015 Mitch Tseng<br>
        All right reserved.
    </div>
    <a href="/" style="display: inline-block;"><img src="img/favicon.jpeg" style="width:60%;"></a>
</footer>

</body>
</html>
