<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Mitch's Website - <%= title %></title>

<!-- jQuery and jQuery UI -->
<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!-- Bootstrap CSS & JavaScript -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/index.css">
<link rel="shortcut icon" href="/img/favicon.ico">
<div style="background-color: #4dD593; padding: 2%; height: 10%;" class="container-fluid">
	<a href="/" class="col-sm-1" style="display: inline-block; float: right;"><img src="img/favicon.jpeg" style="width:40px;" class = "photo img-responsive"></a>
</div>
</head>

<body>
    <h1 id="head" class="table"><%= title %></h1>
    <div style="
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C86754;
    height: 3px;
    width: 80%;
    "></div>
