<% include _header %>
<div class="container-fluid">
<div style="display: inline-block; margin-top: 5%;">
    <table class = "table"  style="margin-top: 5%;">
    	<th style="background-color: #A1E2A2">
    	<h2>Environment Variable Control</h2>
    	<p style="text-align: right;">2013</p>
		</th>
		<tr>
			<td>
				<img src = "img/e2.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The environment variables we control in this project is humidity, temperature and CO2 concentration. We use relays to control actuators let the three environment variables trace the pre-set goals.
				</p>
			</td>
		</tr>
	</table>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>
