<% include _header %>
<div style="width: 100%;">
<div class="container-fluid">
<div style="display: inline-block; margin-top: 5%;">
    <table class = "table"  style="margin-top: 5%;">
    	<th style="background-color: #A1E2A2">
    	<h2>Environment Variable Control</h2>
    	<p style="text-align: right;">2013</p>
		</th>
		<tr>
			<td>
				<img src = "img/c1.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The environment variables we control in this project is humidity, temperature and CO2 concentration. We use relays to control actuators let the three environment variables trace the pre-set goals.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this project, I write the code for user interface and automatic control. The figure shows the final version of the user interface in this project. By this user interface, users can monitor the variables' real-time value and control the devices manually.
				</p>
				<img src = "img/c2.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/c3.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The hardware part is designed and assembled by my team partners. It attains the single chip used to control the devices automatically and also receives the signal from the user interface for turnnig on or off the devices.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We found that when we controlled the humidity or temperature, we needed to consider both of the variables because that the two variables will effect each other. By one formula I found to control the humidity stably, we can control the environment with the humidity error less than 5% and the temperature error less than 0.5 degree. 
				</p>
				<img src = "img/c4.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
	</table>
</div>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>
