<% include _header %>
<div  style="width: 100%;">
<div class="container-fluid">
<div style="display: inline-block; margin-top: 5%;">
    <table class = "table"  style="margin-top: 5%;">
    	<th style="background-color: #A1E2A2">
    	<h2>Plant Factory Platform</h2>
    	<p style="text-align: right;">2013</p>
		</th>
		<tr>
			<td>
				<img src = "img/e2.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Plant Factory Platform integrates sensors and actuators by using microcontrollers and single-board computers. The card-size computers get information from sensors by connecting to the microcontrollers which connect to the sensors and trig the actuators by sending command to other microcontrollers.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this system, each single-board computer uses TCP/IP protocal to connect to each other. In our case, we use one computer to monitor the control group and send the data to another one which monitors the experiment group. The program of this computer has several modes. It can control the experiment group to let the environment variables trace the control group's information or be controlled by the users. And here is also a website builded in the computer which controls the experiment group to let users can change the mode, control the actuators and read the sensors in anywhere with internet.
				</p>
				<img src = "img/e1.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e3.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here is also a point-to-point connection user interface written by me. All the users need to know is the computer's IP, and they can monitor the environment variables or control the actuators.<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this project, I write the code to integrate each part together including sharing database with the build-in website, connecting to each microcontroller and orgnizing the information from different single-board computer in Python. The most difficult thing is designing the control flow to confirm that no data will be lost and ensuring the system is a real-time system at the same time, because the experiment group computer needs to connect to three devices and recieve the requirment from internet every second.
				</p>
			</td>
		</tr>

		<th style="background-color: #A1E2A2">
    	<h2>Embedded Integrated System</h2>
    	<p style="text-align: right;">2014</p>
		</th>
		<tr>
			<td>
				<img src = "img/e4.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This project develops an embedded system integrating membership management, data management, camera connection and using other sensors and actuators. Because the clients are Chinese, the user interface has some Chinese charactors.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this system, here are managers who can manage lists to contain different group's member data, and each member in certain group can use this system to operate some functions and record the data in the corresponding list.
				</p>
				<img src = "img/e5.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e6.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Engineermode" is the supervisor's name in this system. The supervisor can manage other managers' right and lists. Normally, only the engineer who manages this system will know the password of the supervisor because it has the biggest right. The supervisor can give another manager the right to manage other managers, but no manager can change the supervisor's right or delete it.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The user interface provides managers to see the recorded data in the lists they have. In these lists, managers can know the information of each member and fix wrong information. Managers also can create new lists in this page.
				</p>
				<img src = "img/e7.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e8.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It also provides the function to see data charts recorded by each member. The axes' maximum and minimum numbers are adaptively changed based on the data displayed.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Managers also can take the pictures of members by using the camera connected to this system to recognize them. If the picture is not good enough, managers can capture again or click the back button to cancel the change.
				</p>
				<img src = "img/e9.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e10.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This system has high completeness, because it can be modified and fit the requirment in different situation quickly. In this case, this system is used to measure some information about our body. The single-board computer connects to the microcontroller to get the data from the sensor, and records it in the corresponding list.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here is also a build-in website providing managers see the data by internet. I develop this system including the main program, the build-in website and UI design by myself. The main program is written in Python to display the UI and operate functions like recording data, connecting to camera and microcontroller, verifing password, displaying corresponding information of managers and users, etc.
				</p>
				<img src = "img/e11.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
	</table>
</div>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>