<% include _header %>
<div class="container-fluid">
<div style="display: inline-block; margin-top: 5%;">
    <table class = "table"  style="margin-top: 5%;">
    	<th style="background-color: #A1E2A2">
    	<h2>Plant Factory Platform</h2>
    	<p style="text-align: right;">2013</p>
		</th>
		<tr>
			<td>
				<img src = "img/e2.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Plant Factory Platform intergrate sensors and actuators by using microcontrollers and single-board computers. The card-size computers get information from sensors by connecting to the microcontrollers, and trig the actuators by sending command to other microcontrollers.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this system, each single-board computer use TCP/IP to connect to each other. In our case, we use one computer to monitor the control group and send the data to another one computer which monitor the experiment group. This computer has several modes. It can control the experiment group to let the environment variables trace the control group's information. And here is also a website builded in the experiment group to let users can change the mode, control the actuators and read the sensors in anywhere with internet.
				</p>
				<img src = "img/e1.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e3.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here is also an point to point connection user interface written by me. All the users need to know is the computer's IP, and the users can monitor the environment variables and control the actuators.<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In this project, I write the code to intergrate each part together including sharing database with the buildin website, connecting to each microcontroller and orgnizing the information from different sigle-board computer in Python. The most difficult thing is design the control flow to confirm no data lost and ensure the system is a real-time system at the same time, because the experiment group computer needs to connect to three device and recieve the requirment from internet every second. 
				</p>
			</td>
		</tr>

		<th style="background-color: #A1E2A2">
    	<h2>Embedded Intergrated System</h2>
    	<p style="text-align: right;">2014</p>
		</th>
		<tr>
			<td>
				<img src = "img/e4.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This project develops an embedded system intergrate member management, data management, camera connection and using other sensors and actuators. Because the clients is Chinese, the user interface has some Chinese charactors.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In the system has some managers. Managers can create lists to contain different group's member data. And each member in certain group can use this system to operate some functions and record the data in the corresponding list.
				</p>
				<img src = "img/e5.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e6.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Engineermode" is the supervisor's name in this system. This manager can change other managers' right, lists and will not be deleted.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The user interface provide managers to see the recording data in the lists they have. In the lists, managers can know the information of each member and fix wrong information.
				</p>
				<img src = "img/e7.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e8.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It also provides the function to see the data chart recorded by each member. The axes' maximum and minimum numbers are adaptively changed based on the data displayed.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Managers also can take the pictures of members by using the camera connected to this system to recognize who are the members. If the picture is not good enough, managers can capture again or click the back button to cancel the change.
				</p>
				<img src = "img/e9.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
		<tr>
			<td>
				<img src = "img/e10.jpg" class = "photo img-responsive col-sm-6">
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; This system has high completeness, so it can be modified and fit the requirment in different situation. In this case, this system is used to measure some information about our body. The single-board computer connects to the microcontroller to get the data from the sensor, and records it in the corresponding list.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p style="text-align: left; font-size: 21px;" class = "col-sm-6"> 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Here is also a buildin website providing managers see the data by internet. I develop all the code of this system, UI flow and UI design.
				</p>
				<img src = "img/e11.jpg" class = "photo img-responsive col-sm-6">
			</td>
		</tr>
	</table>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>