<% include _header %>
<div class="container-fluid">
<div style="display: inline-block; margin-top: 3%;">
    <div class = "homepage" style="margin-bottom: 7%;">
      <h2>Welcome!<br></h2>
      <h2>I'm Huan-Yu Tseng.<br></h2>
      <h2>I come from Taiwan, a beautiful island.<br></h2>
      <h3><br>Following is my Work Collection since 2013.<br></h3>
    </div>
    <div class = "collec">
	    <a href="/algorithm" class="col-sm-4"><img src="img/algorithm.jpg" class = "entry photo img-responsive img-circle"></a>
	    <a href="/autocontrol" class="col-sm-4"><img src="img/autoControl.jpg" class = "entry photo img-responsive img-circle"></a>
	    <a href="/webapplication" class="col-sm-4"><img src="img/webapplication.jpg" class = "entry photo img-responsive img-circle"></a>
    </div>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>
