<% include _header %>
<div class="container-fluid">
<div style="display: inline-block; margin-top: 3%;">
    <div class = "homepage">
    <table class = "table" style = "width: 100%;">
      <tr>
	<td>
	  <h2 style = "margin-top: -1px;">Welcome!<br></h2>
	  <div style = "height: 1%;"></div>
	  <h4>I'm Huan-Yu Tseng.<br></h4>
	  <h4>I come from Taiwan, a beautiful island.<br><br></h4>
	  <p>Here is my personal website.<br></p>
	  <p>And Mitch is my English name,<br></p>
	  <p>I use it as my logo.<br></p>
	  <p>This website will contain my work collection<br></p>
	  <p>and maybe some web application.<br><br></p>
	  <p>If you want to know more about me<br></p>
	  <p>or connect to me,<br></p>
	  <p>You can click the "About" button<br></p>
	  <p>to check the information.<br></p>
	</td>
      </tr>
      <td>
      </td>
    </table>
      <h1><br>My Work Collection<br></h1>
      <div style="
      margin-top: -1%;
      margin-left: auto;
      margin-right: auto;
      background-color: #C86754;
      height: 3px;
      width: 80%;
      "></div>
      <p style="margin-left:70%">since 2013</p>
    </div>
    <div style = "margin-bottom: 5%;">
    </div>
    <div class = "collec">
	    <a href="/algorithm" class="col-sm-4"><img src="img/algorithm.jpg" class = "entry photo img-responsive img-circle"></a>
	    <a href="/autocontrol" class="col-sm-4"><img src="img/autoControl.jpg" class = "entry photo img-responsive img-circle"></a>
	    <a href="/webapplication" class="col-sm-4"><img src="img/webapplication.jpg" class = "entry photo img-responsive img-circle"></a>
    </div>
</div>
</div>
<div id="space" style="height: 60px"></div>
<% include _footer %>
